{% extends "base.html" %}

{% block content %}
<div class="flex-row">
    <div class="flex-column">
        <div class="card">
            <h1>Nice.</h1>
            <p>Wow, that looks really good! I am impressed.</p>
        </div>

        <div class="card preview" href="/">
            <p>Ik heb <strong>IEDEREEN</strong> die een like<span class="ql-font-serif"> gegeven heeft</span>, een like gegeven.</p><p>L<sup>ikes voo</sup>r jullie <span class="ql-size-large">ALLEMAAL!!!!!!</span></p><p><br></p><p>Geef mij nu ook like pls, ik wil famous zijn.</p><p>😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂</p><p>👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌</p><p>🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥</p><p>If you <span style="color: rgb(230, 0, 0);">read this, then you are one of those awesome people who actually c</span><u style="color: rgb(230, 0, 0);">lic</u><u>k on po</u><u style="background-color: rgb(178, 178, 0);">sts to</u><span style="background-color: rgb(178, 178, 0);"> check them out. You are all the best!</span></p>
        </div>

        <div class="card">
            <p>Ik heb <strong>IEDEREEN</strong> die een like<span class="ql-font-serif"> gegeven heeft</span>, een like gegeven.</p><p>L<sup>ikes voo</sup>r jullie <span class="ql-size-large">ALLEMAAL!!!!!!</span></p><p><br></p><p>Geef mij nu ook like pls, ik wil famous zijn.</p><p>😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂</p><p>👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌</p><p>🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥</p><p>If you <span style="color: rgb(230, 0, 0);">read this, then you are one of those awesome people who actually c</span><u style="color: rgb(230, 0, 0);">lic</u><u>k on po</u><u style="background-color: rgb(178, 178, 0);">sts to</u><span style="background-color: rgb(178, 178, 0);"> check them out. You are all the best!</span></p>
        </div>
    </div>
</div>
{% endblock %}